/* .box {
    background-color: salmon;
    width: 200px;
    height: 200px;
    transition: all 3s;
}

.move {
    background-color: salmon;
    width: 200px;
    height: 200px;
    transform: translateX(30%);
    transition: all 3s;
} */
